
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-image: url('https://t4.ftcdn.net/jpg/02/92/74/19/360_F_292741930_eODxgfFT41CRil8eOww1o2UWX0Ers7kM.jpg'); width: 100%; " class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px;"></div>
</div>
<div class="text-center mb-4">
    <h1 class="section-title px-5"><span class="px-2">SİPARİŞİM</span></h1>
</div>
<div class="container-fluid pt-5">
    <input id="foodId" type="hidden" value="@Request.QueryString["foodId"]" />
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th></th>
                        <th>Siparişim</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th>Toplam Tutar</th>
                        <th>Çıkar</th>
                    </tr>
                </thead>
                <tbody id="foodHtml" class="align-middle">
                    
                    @*<tr>
                            <td class="align-middle"><img src="img/product-1.jpg" alt="" style="width: 50px;"> Colorful Stylish Shirt</td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </tr>*@

                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Ödeme</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <p class="font-weight-medium">Ara Toplam</p>
                        <p id="totalPrice" class="font-weight-medium"></p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Toplam(KDV Dahil)</h6>
                        <h6 id="totalPriceKDV" class="font-weight-medium"></h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Ödenecek Tutar</h5>
                        <h5 id="orderTotal" class="font-weight-bold"></h5>
                    </div>
                    <button style="background-color:#f90050; color:white; border-radius:10px;" class="btn btn-block btn-primary my-3 py-3">Siparişi Tamamla</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/js/javascript/order.js"></script>
